body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
}

h2 {
    font-family: Big Shoulders Display, sans-serif;
    font-weight: 700;
    margin-top: 25px 0;
    margin-bottom: 25px;
    font-size: 40px;
}

p {
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 20%;
}

.box {
    padding: 20%;
    width: 220px;
    height: 300px;
    color: hsl(0, 0%, 95%);
}

.container1ForSedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container2ForSuv {
    background-color: hsl(184, 100%, 22%);
}

.container3ForLuxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sedanLearnMoreButton {
    font-size: 15px;
    border-radius: 50px;
    width: 58%;
    height: 14%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    color: hsl(31, 77%, 52%);
    padding: 5%;
    border: 0;
    margin-top: 25px;

}

.suvLearnMoreButton {
    font-size: 15px;
    border-radius: 50px;
    width: 58%;
    height: 14%;
    text-align: center;
    background-color: white;
    color: hsl(184, 100%, 22%);
    padding: 5%;
    border: 0;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.luxuryLearnMoreButton {
    font-size: 15px;
    border-radius: 50px;
    width: 58%;
    height: 14%;
    text-align: center;
    background-color: white;
    padding: 5%;
    color: hsl(179, 100%, 13%);
    border: 0;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.sedanLearnMoreButton:hover {
    background-color: black;
}

.suvLearnMoreButton:hover {
    background-color: black;
}

.luxuryLearnMoreButton:hover {
    background-color: black;
}